{{ if and (.IsHome) (.Params.jumbotron) }}
{{else if (.Params.jumbotron_help) }}
{{else if (.Params.jumbotron_business) }}
{{else}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
            <ol class="breadcrumb a-breadcrumb">
                {{ template "breadcrumb" dict "page" . "value" (printf "<li class='breadcrumb-item active'><a class='a-link' href='%s'>%s</a></li>" .RelPermalink .LinkTitle) }}
            </ol>
            <h1 class="a-fontBold ">{{ .Params.title }}</h1>
            <p class="a-leadText" id="leadText">{{ .Params.description }}</p>
            {{with .Page.Lastmod}}
            <div class="a-byline">Sist oppdatert {{ .Format "02.01.2006" }}</div>
            {{end}}
            <hr class="mt-2 mb-0 d-none d-lg-block" />
        </div>
    </div>
</div>
{{end}}