{{ if .Params.didyoufind }}
<form class="mt-4 a-dontPrint">
    <fieldset class="form-group ">
        <legend class="a-legend">
            Fant du det du lette etter?
        </legend>
        <div class="custom-control custom-radio a-custom-radio a-js-feedbackToggle  custom-control-inline">
            <input type="radio" name="customRadio" class="custom-control-input" id="radio1" value="radio1" />
            <label class="custom-control-label a-radioButtons-title" for="radio1">
                Ja
            </label>
        </div>
        <div class="custom-control custom-radio a-custom-radio a-js-feedbackToggle  custom-control-inline ">
            <input type="radio" name="customRadio" class="custom-control-input" id="radio2" value="radio2" />
            <label class="custom-control-label a-radioButtons-title" for="radio2">
                Nei
            </label>
        </div>
    </fieldset>
    <p class="">Takk for tilbakemeldingen.</p>
    <div class="form-group a-form-group " style="display: none;">
        <label for="exampleTextarea" class="a-form-label">Hva savnet du?</label>
        <textarea class="form-control a-textarea" rows="3"
            placeholder="Gi oss gjerne en tilbakemelding p&#229; hva vi kan forbedre." id="exampleTextarea"></textarea>
    </div>
    <button type="button" class="a-btn mt-2" id="send" style="display: none;">
        Send
    </button>
</form>
{{ end }}
