<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-light"
     style="background-color: #cff0ff; background-image: url('/Static/img/illustration/illustrasjon_hjelp.svg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <h1 class="a-fontBold a-pageTitle">
                    {{ .Title }}
                </h1>
                <span class="a-jumbotron-ingress a-jumbotron-ingress--small">
                    {{ .Description }}
                </span>

                <div class="form-group a-form-group  a-form-group-large">
                    <label class="a-form-label sr-only" for="search">{{ T "what-can-we-help-you-with" }}</label>
                    <div class="a-form-group-items input-group">
                        <input class="form-control a-hasButton" type="text" placeholder="{{ T "what-can-we-help-you-with" }}"
                            name="search-input-field" data-val="true" id="search" value="">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" name="search-button">
                                <i class="ai ai-search" aria-hidden="true"></i>
                                <span class="sr-only">{{ T "search"}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>