{{ if .Params.need_help }}

<div class="a-card a-cardImage mt-4">
    <img src="https://www.altinn.no/globalassets/svg/temp-placeholder.svg">
    <div class="a-cardImage-text">
        <h2>Trenger du hjelp?</h2>
        <p>Våre bedriftsveiledere sitter klar for å svare på spørsmål om å starte og drive bedrift i
            Norge. Tjenesten er gratis. </p>


        <a href="tel:+4780033840" class="a-linkIcon">
            <i class="ai ai-nw ai-nw-pr ai-phone" aria-hidden="true"></i>
            <span class="sr-only">Telefonnummer til Altinn brukerservice</span>
            <span class="a-linkIcon-text">800 33 840</span>
        </a>

    </div>
</div>

{{ end }}