{{ define "main" }}
    {{ if .Params.map }}
        {{ .Scratch.Set "search-placeholder" "search-for-content" }}
        {{ .Scratch.Set "search-id" "search-main" }}
        {{ partial "search/search-component.html" . }}
        {{ partial "components/list-view.html" . }}
        {{ partial "components/content-body.html" . }}
    {{ else }}
            {{ if .Params.page }}
            {{ partial "components/content-header.html" . }}
            {{end}}
            {{ partial "components/content-body.html" . }}
    {{ end }}
{{ end }}