<!DOCTYPE html>
<html lang="{{ .Page.Language | default "nb" }}" class="js csstransforms3d">

<head>
    <title>Altinn - {{ .Title }}</title>

    {{ partial "imports/meta.html" . }}

    <link href="{{"/Static/icon/css/external.css"}}" rel="stylesheet">
    <link href="{{"/Static/css/style.dist.infoportal.css"}}" rel="stylesheet">
    <link href="{{"/Static/css/fonts.css"}}" rel="stylesheet">

</head>

<body class="a-bgWhite">
    <div class="a-page">

        {{ partial "layout/header.html" . }}

        {{ block "main" . }}
        
        {{ end }}

    </div>

    {{ partial "layout/footer.html" . }}

</body>

</html>