{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 a-articleSearch">
            <div class="form-group a-form-group  a-form-group-large">
                <label class="a-form-label sr-only" for="search">{{ T "search-for-content" }}</label>
                <div class="a-form-group-items input-group">
                    <input class="form-control a-hasButton" type="text" placeholder="{{ T `search-for-content` }}"
                        name="search-input-field" data-val="true" id="search" value="">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" name="search-button">
                            <i class="ai ai-search" aria-hidden="true"></i>
                            <span class="sr-only">{{ T "search" }}</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1 pb-3">
            <h1 class="a-fontBold a-pageTitle">
                {{.Title}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1 pb-3 a-newsArchive">
            {{ $paginator := .Paginate (where .Site.RegularPages "Params.newscategory" .Params.newscategory) }}
            {{ range $index, $page := $paginator.Pages }}
            {{ .Render "li" }}
            {{ end }}

            <button type="button" class="a-btn a-btn-action a-fullWidthBtn a-btn-loadMore">
                <i class="ai ai-plus " aria-hidden="true"></i>
                <span>Last flere</span>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 pb-3">
            <div class="a-card a-cardImage mt-4">
                <img src="/Static/img/illustration/illustrasjon_nyhetsbrev.svg" alt="Illustrasjon">
                <div class="a-cardImage-text">
                    <h2>Abonner på nyhetsbrev</h2>
                    <p>Få varsel om viktige nyheter fra Altinn på e-post. Registrer deg her:</p>

                    <form data-toggle="validator" class="a-js-subscribe" data-disable="true" id="subscribtion"
                        novalidate="novalidate" _lpchecked="1">
                        <input type="hidden" id="subscription-type" value="newsletter">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group a-form-group">
                                    <label class="a-form-label sr-only" for="text-input-epost">E-post:: </label>

                                    <div class="a-form-group-items input-group">
                                        <span class="input-group-prepend d-none d-md-block">
                                            <i class="ai ai-closedmessage" aria-hidden="true"></i>
                                        </span>

                                        <input class="form-control a-hasIcon" type="text" placeholder="Din e-post"
                                            name="email-field" data-val="true" id="text-input-epost" required=""
                                            data-val-required="Du har ikke oppgitt e-post."
                                            data-val-regex="Du har ikke skrevet e-posten korrekt."
                                            data-val-regex-pattern="(('[^']+')|(([a-zA-Z0-9!#$%&amp;'*+-=?^_`{|}~])+(.([a-zA-Z0-9!#$%&amp;'*+-=?^_`{|}~])+)*))@((((([a-zA-Z0-9æøåÆØÅ]([a-zA-Z0-9-æøåÆØÅ]{0,61})[a-zA-Z0-9æøåÆØÅ].)|[a-zA-Z0-9æøåÆØÅ].){1,9})([a-zA-Z]{2,14}))|((d{1,3}).(d{1,3}).(d{1,3}).(d{1,3})))"
                                            aria-required="true" aria-describedby="text-input-epost-error"
                                            aria-invalid="true">
                                    </div>
                                    <div class="a-message a-message-error" data-valmsg-for="email-field"
                                        data-valmsg-replace="true"></div>
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="button" class="a-btn disabled" id="a-js-subscribtion-submit" disabled="">
                                    Send
                                </button>
                            </div>
                        </div>
                        <p class="a-fontSizeXS a-js-finishText" style="display: none;">
                            Takk, du er nå påmeldt vår nyhetsbrevtjeneste. Dette betyr at du vil få e-post fra Altinn
                            hver gang vi har noe å fortelle deg om. <a class="a-js-undo">Angre</a>
                        </p>
                        <p class="a-fontSizeXS a-js-altText" style="display: none;">Du har angret innsendingen, og er
                            ikke lengre påmeldt vårt nyhetsbrev.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
