<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114303148-1"></script>
<script>
var host = window.location.hostname;
if(host != "localhost")
{
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114303148-1', { 'anonymize_ip': true });
}
</script>

<script src="{{"/Static/js/jquery.min.js"}}"></script>
<script src="{{"/Static/js/infoportal.vendor.js"}}"></script>
<script src="{{"/Static/js/infoportal.js"}}"></script>
<script src="{{"/Static/js/portal/ReporteeUtils.js"}}"></script>
<script src="{{"/Static/js/search/altinn-quicksearch.js"}}"></script>
<script src="{{"/Static/js/subscription/newsletter-subscription.js"}}"></script>
