<!-- Partial intended to be overwritten to add javacript -->
<!--script src="{{"js/custom.js" | relURL}}"></script-->

<script src="{{"/Static/js/jquery.min.js"}}"></script>
<script src="{{"/Static/js/infoportal.vendor.js"}}"></script>
<script src="{{"/Static/js/infoportal.js"}}"></script>
<script src="{{"/Static/js/portal/ReporteeUtils.js"}}"></script>
<script src="{{"/Static/js/search/altinn-quicksearch.js"}}"></script>
<script src="{{"/Static/js/subscription/newsletter-subscription.js"}}"></script>
