<h1 id="content" class="sr-only">Altinn - enklere dialog med det offentlige</h1>
<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-header--left a-jumbotron-light"
  style="background-color: #c0f0ff; background-image: url('/Static/img/illustration/illustrasjon_logginn_alt.svg')">

  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <span class="a-jumbotron-ingress">
          <span class="a-fontBold">
            {{ T "altinn-your-dialogue" }}
          </span>
          {{ T "here-you-find" }}
        </span>
        <button type="button" class="a-btn a-btn-border" onclick="location.href = '/ui/messagebox'">
          {{ T "login" }}
        </button>
        <span class="a-jumbotron-btn-textright a-h1">
          {{ T "and-see-your-inbox" }}
        </span>
      </div>
    </div>
  </div>

</div>