<div class="row mb-3">

    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <h2 class="a-h3">
            Aktuelle skjema og tjenester:
        </h2>

        <div class="a-list-container mb-2">
            <ul class="a-list a-list-noIcon">
                <li class="a-dotted a-clickable a-list-hasRowLink">
                    <a href="/skjemaoversikt/a-ordningen/a-melding2/" class="a-list-rowLink">
                        <div class="row">
                            <div class="col">
                                A-melding - alle skjema
                            </div>
                        </div>
                    </a>
                </li>
                <li class="a-dotted a-clickable a-list-hasRowLink">
                    <a href="/skjemaoversikt/bronnoysundregistrene/produkter-og-tjenester-fra-bronnoysundregistrene/"
                        class="a-list-rowLink">
                        <div class="row">
                            <div class="col">
                                Produkter og tjenester fra Br&#248;nn&#248;ysundregistrene
                            </div>
                        </div>
                    </a>
                </li>
                <li class="a-dotted a-clickable a-list-hasRowLink">
                    <a href="/skjemaoversikt/bronnoysundregistrene/registrere-nye-og-endre-eksisterende-foretak-og-enheter---samordnet-registermelding/"
                        class="a-list-rowLink">
                        <div class="row">
                            <div class="col">
                                Registrere nye og endre eksisterende virksomheter - Samordnet registermelding
                            </div>
                        </div>
                    </a>
                </li>
                <li class="a-dotted a-clickable a-list-hasRowLink">
                    <a href="/skjemaoversikt/skatteetaten/kontaktskjema---skatteetaten-privatperson/"
                        class="a-list-rowLink">
                        <div class="row">
                            <div class="col">
                                Kontaktskjema - Skatteetaten (privatperson)
                            </div>
                        </div>
                    </a>
                </li>
                <li class="a-dotted a-clickable a-list-hasRowLink">
                    <a href="/skjemaoversikt/skatteetaten/kontaktskjema---skatteetaten-naringsdrivende-/"
                        class="a-list-rowLink">
                        <div class="row">
                            <div class="col">
                                Kontaktskjema - Skatteetaten (n&#230;ringsdrivende)
                            </div>
                        </div>
                    </a>
                </li>
                <li class="a-dotted a-clickable a-list-hasRowLink">
                    <a href="/skjemaoversikt/skatteetaten/skattemelding-for-formues--og-inntektsskatt----aksjeselskap-mv/"
                        class="a-list-rowLink">
                        <div class="row">
                            <div class="col">
                                Skattemelding for formues- og inntektsskatt - aksjeselskap mv. 2019
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <a href="/skjemaoversikt/" class="a-linkFeatured ">
            Vis alle skjema
            <i class="ai ai-sm ai-nw ai-nw-right ai-arrowright" aria-hidden="true"></i>
        </a>
    </div>

</div>
