<div class="row pt-4 p0-print">

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 offset-lg-2">
        <figure class="a-mediaBlock">
            <img src="/Static/img/illustration/illustrasjon_starte_og_drive_sirkel_alt.svg"
                alt="Illustrasjon Starte og drive" />
            <figcaption class="a-mediaBlock-caption">
                <p><a href="{{with .Site.GetPage `/starte-og-drive`}}{{.URL}}{{end}}">Hva bør man vite for å drive næring i Norge? Du finner svar i
                        starte og drive bedrift</a></p>
            </figcaption>
        </figure>
    </div>


    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 ">
        <figure class="a-mediaBlock">
            <img src="/Static/img/illustration/illustrasjon_arbeidsforhold_sirkel.svg"
                alt="Illustrasjon A-ordningen" />
            <figcaption class="a-mediaBlock-caption">
                <p><a href="/starte-og-drive/koronaviruset-og-din-virksomhet/">Koronaviruset (Covid-19) og din
                        virksomhet</a></p>
            </figcaption>
        </figure>
    </div>
</div>
