{{ define "main" }}
{{ .Scratch.Set "search-placeholder" "search-for-content" }}
{{ .Scratch.Set "search-id" "search-main" }}
{{ partial "search/search-component-filter.html" . }}
<div class="row mb-3">
    <div class="col-sm-10 offset-sm-10 col-lg-10 offset-lg-1" id="results">
        Enter a keyword above to search this site.
    </div>
</div>
<script
    src="https://cdn.jsdelivr.net/npm/@elastic/app-search-javascript@7.16.0/dist/elastic_app_search.umd.js"></script>
<script src="{{"/Static/js/search/altinn-searchresult.js"}}"></script>
{{ end }}